<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="app_module.js"></script>
    <script src="app_controller.js"></script>
    <script src="app_factory.js"></script>
    <!--less-->
    <link href="style.less" type="text/css" rel="stylesheet/less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
</head>

<body ng-app="PlayersApp" ng-controller="PlayersController" >
    <header>
        <img src="icons/viz_logo.png" >
    </header>
    <div class="player-display">
        <div class="col-lg-2">
        <button type="button" ng-click="playerPopUp()" >Add Player</button>
        </div>
        <div class ="table-wrapper">
        <table class= "col-lg-10">

            <tr>
                <th></th>
                <th>First Name</th>
                <th>Surname</th>
                <th >Sex</th>
                <th >Tier</th>
                <th>Email</th>
            </tr>
            <tr ng-repeat="(key, person) in playersList">
                <td class="index-col">{{key+1}}</td>
                <td>{{person.FirstName}}</td>
                <td>{{person.Surname}}</td>
                <td><img src="{{person.Sex.img}}" height="50" wdith="50"></td>
                <td><img src="{{person.Tier.img}}" height="50" wdith="50"></td>
                <td>{{person.Email}}</td>
            </tr>
        </table>
        </div>
    </div>
<div id="playerPopup">
            <p>Add Player</p>
            <form class="form-body">
                <label  required class="col-lg-3" for="player.FirstName">First Name</label>
                <input  required class="col-lg-9" type="text" ng-model="player.FirstName">
                <br>
                <label class="col-lg-3">Surname</label>
                <input  class="col-lg-9"  required class="form-control" type="text" ng-model="player.Surname">
                <br>
                <div class="select-wrapper">
                <label>Sex</label>
                <select "col-lg-3" required ng-model="player.Sex" ng-options="item as item.name for item in AllSexes">
                <option value="" selected hidden />
                </select>
                <label>Tier</label>
                <select required ng-model="player.Tier" ng-options="item as item.name for item in AllTiers">
                <option value="" selected hidden />
                </select>
                </div>
                <br>
                <label class="col-lg-3">Email</label>
                <input  class="col-lg-9"  required class="form-control" type="text" ng-model="player.Email">
                <br>
                <div class="form-button-wrapper">
                    <button ng-click="cancelPlayer()">Cancel</button>
                    <button ng-click="addNewPlayer()">Add</button>
                </div>
            </form>
        </div>

</body>

</html>
