<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="app_module.js"></script>
    <script src="app_controller.js"></script>
    <script src="app_factory.js"></script>
    <!--less-->
    <link href="style.less" type="text/css" rel="stylesheet/less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
</head>

<body ng-app="PlayersApp">
    <header>
        <img src="icons/viz-logo.svg">
    </header>
    <div ng-controller="PlayersController">
        <button type="button" ng-click="addPlayer()">Add Player</button>
        <table>
            <tr>
                <th></th>
                <th>First Name</th>
                <th>Surname</th>
                <th>Sex</th>
                <th>Tier</th>
                <th>Email</th>
            </tr>
            <tr ng-repeat="(key, person) in playersList">
                <th>{{key}}</th>
                <th>{{person.FirstName}}</th>
                <th>{{person.Surname}}</th>
                <th><img src="{{person.Sex.img}}" )></th>
                <th><img src="{{person.Tier.img}}" )></th>
                <th>{{person.Email}}</th>
            </tr>
        </table>
        <div>
            <p>Add Player</p>
            <form >
                <label>First Name</label>
                <input type="text" ng-model="player.FirstName">
                <br>
                <label>Surname</label>
                <input type="text" ng-model="player.Surname">
                <br>
                <label>Sex</label>
                <select ng-model="player.Sex" ng-options="item as item.name for item in AllSexes">
                </select>
                <label>Tier</label>
                <select ng-model="player.Tier" ng-options="item as item.name for item in AllTiers">
                </select>
                <br>
                <label>Email</label>
                <input type="text" ng-model="player.Email">
                <br>
                <div>
                    <button ng-click="cancelPlayer()">Cancel</button>
                    <button ng-click="addNewPlayer()">Add</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
