@lighterGrey: #e6e6e6;

header{
	padding: 10px 0px;
}

.form-group select{
	
	width: 30%;
}

.form-body{
	background-color: LightGrey;
	padding: 2%;
}

.player-display{
	background-color: @lighterGrey;
	padding-top: 50px;
}

tr{
	background-colour: white;

}

#playerPopup{
	display: none;
	width: 25%;
}

.table-wrapper{
	overflow:scroll;
	height:70%
}